.my-button {
    background-color: white;
    gap: 10px;
    display: block;
    margin: auto;
    /* top: 546px; */
    left: 11px;
    width: 45%;
    height: 15%;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
}

.my-button:hover{
  background-color: #B571B7;
  cursor: pointer;
  font-size: 25px;
}

.body-cont {
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  /* justify-content: center; */
  /* height: 100%; */
  margin: 0;
  background-color: #7DE1DB;;
}
.card-container {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 50%; */
  /* gap: 16px; */
  /* overflow-x: auto; Horizontal scrolling */
  /* overflow-y: hidden; Hide vertical overflow */
}
.card {
    /* flex: 1 1 200px; */
    /* display: flex; */
    overflow: auto;
    /* justify-content: space-between; */
    align-items: left;
    flex-direction: column;
    width: 200px;
    /* height: 500px; */

  }
.connectly-logo {
    top: 0px;
    left: 0px;
    width: 15%;
    height: 130%;
    position: 'top';
  }
.sign-outt{
  margin-top: 3%;
  background-color: #B571B7;
  color:white;
  height: 30px;
  border-color:  #B571B7;
  border-width: 1px;
  border-radius: 100px;
}
.gotopage{
  margin-top: 1%;
  background-color: #B571B7;
  color:white;
  height: 30px;
  border-color:#B571B7;
  border-width: 1px;
  border-radius: 100px;
}